/* 사이드바 네비게이션 스타일 */
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    background-color: #28b676;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}
#sidebar h3 {
    text-align: center;
    margin-top: 20px; /* 프로필 사진과 이름 간격 */
    margin-bottom: 50px; /* 이름과 첫 메뉴 항목 간 간격 */
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: center;
}

#sidebar ul li {
    margin-bottom: 50px; /* 메뉴 항목간 간격 */
    cursor: pointer;
    font-size: 18px;
    color: white;
    transition: color 0.3s;
}


/* 활성화된 메뉴 항목 스타일 */
#sidebar ul li.active {
    background-color: white; /* 배경을 흰색으로 변경 */
    color: #28b676; /* 텍스트 색상을 Dodger Blue로 변경 */
    font-weight: bold; /* 글씨를 굵게 */
}

/* 사이드바 이미지 스타일 */
#profile-pic {
    width: 180px; /* 사이드바 안에 맞는 적당한 너비 */
    height: auto; /* 비율에 맞춰 이미지 크기 조정 */
    border-radius: 50%; /* 원형 이미지 */
    display: block;
    margin: 20px auto; /* 중앙에 배치 */
    border: 3px solid #fff; /* 테두리 */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* 약간의 그림자 */
}




/* 메인 레이아웃 */
main {
    margin-left: 270px; /* 사이드바 너비만큼 여백 */
    padding: 20px;
}

/* 각 섹션 스타일 */
section {
    margin-bottom: 100px;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* 첫 번째 섹션 스타일 (Introduction) */
#section1 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4f4f4;
}

/* 나머지 섹션 스타일 */
#section2, #section3, #section4 {
    background-color: #ffffff;
}

/* 푸터 스타일 */
footer {
    background-color: #c0c0c0;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* 기본 텍스트 스타일 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
}

/* 제목 스타일 */
h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 5px;
}

/* 링크 스타일 */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


